.toolbar-icon-strava:before {
  background-image: url(../images/strava-logo-787878.svg);
}
.toolbar-icon-strava:active:before,
.toolbar-icon-strava.is-active:before {
  background-image: url(../images/strava-logo-000000.svg);
}