.strava-auth {
  background: #ff4e00;
  border-radius: 4px;
  box-sizing: content-box;
  color: #fff;
  display: inline-block;
  font-weight: bold;
  height: 16px;
  line-height: 16px;
  padding: 8px;
  vertical-align: center;
}

.strava-auth:hover {
  background: #feae89;
  color: #ff4e00;
  text-decoration: none;
}

.strava-auth:before {
  background-image: url(../images/strava-logo.svg);
  content: '';
  display: inline-block;
  height: 16px;
  line-height: 16px;
  margin-right: 8px;
  vertical-align: bottom;
  width: 16px;
}

.strava-auth:hover:before {
  background-image: url(../images/strava-logo-hover.svg);
}
