{#
/**
 * @file athlete.html.twig
 * Default theme implementation to present Athlete data.
 *
 * This template is used when viewing Athlete pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_athlete()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('strava-athlete') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
